<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <img src="/assets/01.png"></img>
    <img src="/js/sw/assets/02.png"></img>
    <script src="/js/sw/main.js"></script>
</body>
</html>